body {
    color: rgb(107, 84, 129);
    background: rgb(12, 122, 108);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(228, 42, 144);
    padding: 20px;
    font-size: 32px;
    color: rgb(88, 26, 100);
}

.chamada {
    background: rgba(201, 81, 60, 0.897);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(0, 128, 96);
}

.categoria h2 {
    color: rgba(95, 36, 36, 0.582);
}